<div class="container card-container">
  <md-toolbar class="border">Is this a skill?</md-toolbar>
  <md-card (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
    <md-card-content>
      <h2>Ability to work under pressure.</h2>
    </md-card-content>
    <md-card-actions>
      <button md-fab (click)="onSwipeLeft()" class="swipe-left"><md-icon>close</md-icon></button>
      <button md-fab (click)="onSwipeRight()" class="swipe-right"><md-icon>check</md-icon></button>
    </md-card-actions>
    <md-card-footer>
      <button md-button (click)="onRequestHelp()">Instructions</button>
    </md-card-footer>
  </md-card>
</div>
