<div [hidden]="isHidden" class="container card-container" [@swipeResponse]="transitionState">
	<mat-toolbar class="border">In this context, is '{{possibleSkill}}' a skill?</mat-toolbar>
  <mat-card (swipeleft)="onSwipe('left', $event)" (swiperight)="onSwipe('right', $event)">
    <mat-card-content>
		...{{beforeSkill}}<span class="token">{{possibleSkill}}</span>{{afterSkill}}...
    </mat-card-content>
    <mat-card-actions>
      <button class="spaced-button" mat-fab (click)="onSwipe('left', $event)" class="swipe-left"><mat-icon>close</mat-icon></button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="spaced-button" mat-fab (click)="onSwipe('right', $event)" class="swipe-right"><mat-icon>check</mat-icon></button>
    </mat-card-actions>
    <mat-card-footer>
      <button mat-button (click)="onRequestHelp()">Instructions</button>
    </mat-card-footer>
  </mat-card>
</div>
